<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/header.ejs %>
  </head>

  <body>
    <div class="jumbotron text-center">
      <div class="container">
        <h1>BYU - Idaho - CS 313 - Fall 2019</h1>
        <p>09 Prove : Assignment - Postal Rate Calculator<br />Pedro Pereira</p>
        <a
          type="button"
          class="btn btn-lg btn-primary"
          href="https://github.com/pereira-pedro/cs313-w09"
          ><span class="glyphicon glyphicon-download"></span> Source on
          GitHub</a
        >
      </div>
    </div>
    <div class="container">
      <% if( locals.result ) {%> <% if( locals.result.Package.Error ) {%>
      <div class="alert alert-danger text-center" role="alert">
        Error: <%=result.Package.Error.Description%>
      </div>
      <% } } else {%>

      <div class="alert alert-info text-center" role="alert">
        Use form below to calculate USPS postal rate.
      </div>

      <% }%>

      <hr />
      <div class="row">
        <!-- action="https://fierce-beyond-50395.herokuapp.com/getRate/" -->
        <form
          class="form-horizontal"
          method="POST"
          action="http://localhost:5000/getRate"
        >
          <div class="form-group">
            <label for="origin">Originating ZIP</label>
            <input
              type="number"
              class="form-control"
              id="origin"
              name="origin"
              placeholder="Originating ZIP"
              value="<%=locals.request ? locals.request.origin : ''%>"
            />
          </div>
          <div class="form-group">
            <label for="destination">Destination ZIP</label>
            <input
              type="number"
              class="form-control"
              id="destination"
              name="destination"
              placeholder="Destination ZIP"
              value="<%=locals.request ? locals.request.destination : ''%>"
            />
          </div>
          <div class="form-group">
            <label for="weight">Weight</label>
            <input
              type="number"
              pattern="[0-9]+([\.,][0-9]+)?"
              step="0.01"
              class="form-control"
              id="weight"
              name="weight"
              placeholder="Weight"
              value="<%=locals.request ? locals.request.weight : ''%>"
            />
            <label class="radio-inline">
              <input type="radio" id="unit1" name="unit" value="lb"
              <%=locals.request && locals.request.unit === 'lb' ? 'checked' :
              ''%>/> lb
            </label>
            <label class="radio-inline">
              <input type="radio" id="unit2" name="unit" value="oz"
              <%=locals.request && locals.request.unit === 'oz' ? 'checked' :
              ''%>/> oz
            </label>
          </div>
          <div class="form-group">
            <label for="type">Type</label>
            <div id="type'">
              <label class="radio-inline">
                <input type="radio" id="type1" name="type" value="LETTER"
                <%=locals.request && locals.request.type === 'LETTER' ?
                'checked' : ''%>/> Letters (Stamped)
              </label>
              <label class="radio-inline">
                <input type="radio" id="type2" name="type" value="LETTER"
                <%=locals.request && locals.request.type === 'LETTER' ?
                'checked' : ''%>/> Letters (Metered)
              </label>
              <label class="radio-inline">
                <input type="radio" id="type3" name="type" value="LETTER"
                <%=locals.request && locals.request.type === 'FLAT' ? 'checked'
                : ''%>/> Large Envelopes (Flats)
              </label>
              <label class="radio-inline">
                <input type="radio" id="type4" name="type" value="LETTER"
                <%=locals.request && locals.request.type === 'PACKAGE SERVICE RETAIL' ? 'checked' : ''%>/>First-Class Package Service—Retail
              </label>
            </div>
          </div>
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>

        <div class="panel panel-default" style="margin-top: 1.5em;">
          <div class="panel-body">
            <% if( locals.result ) {%>
            <table class="table">
              <tr>
                <td>Service:</td>
                <td><%-result.Package.Postage.MailService%></td>
              </tr>
              <tr>
                <td>Price:</td>
                <td><%=result.Package.Postage.Rate%></td>
              </tr>
            </table>

            <p class="lead">Special Services:</p>

            <table class="table table-striped">
              <thead>
                <th>Name</th>
                <th align="right">Price</th>
              </thead>
              <%
              result.Package.Postage.SpecialServices.SpecialService.forEach(function(r)
              { %>
              <tbody>
                <td>
                  <%-r.ServiceName%>
                </td>
                <td align="right">
                  <%=r.Price%>
                </td>
              </tbody>
              <% }); %>
            </table>
            <%}%>
          </div>
        </div>
      </div>
    </div>
    <script>
      $(function() {
        $("form").attr(
          "action",
          window.location.hostname.startsWith("localhost")
            ? "http://localhost:5000/getRate"
            : "https://fierce-beyond-50395.herokuapp.com/getRate"
        );
      });
    </script>
  </body>
</html>
